.blog-post {
  h1 {
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;

    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }

  .heading {
    border-bottom: 1px solid $divider;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 2;
  }
}
