.blog-post {
  h1.post-title {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 0.75rem;
  }

  h2.post-subtitle {
    font-family: 'Roboto Slab', serif;
    color: $secondary-text;
    font-size: 1rem;
    line-height: 1.75;
    margin: 0.25rem 0 0;

    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }

    & > a > svg {
      margin-right: 3px;
    }
  }

  .heading {
    margin: 1.8rem 0;
  }

  p {
    font-family: 'Roboto Slab', serif;
    color: #424242;
    font-size: 1rem;
    line-height: 1.75;
  }
}
