.blog-post {
  h1 {
    font-family: 'Times New Roman', Times, serif;
  }

  h2 {
    font-size: 1rem;
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }

  .heading {
    border-bottom: 1px solid $divider;
    margin-bottom: 2rem;
  }
}
