header {
  grid-area: header;
  background: black;

  a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .content {
    display: flex;
    justify-content: space-between;

    button {
      background: none;
      border: 1px solid $divider;
      font-size: 15px;
      border-radius: 8px;
    }
  }
}
