.post-preview {
  max-width: 58ch;
  border-bottom: 1px solid $divider;
  padding: 0 0 1rem;
  margin: 0 auto;

  h2.title {
    // color: $accent;
    margin: 1.5ch 0 0.5ch;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .subtitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.89rem;
    margin: 0;
  }

  p {
    margin: 1ch 0;
  }
}
