@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
  font-family: 'Roboto Slab', serif;
}

img {
  width: 100%;
  margin: 0 0 1rem;
}

.preview-body {
  margin: 0 0 2rem;
}

pre {
  background-color: whitesmoke;
  padding: 8px;
  border-radius: 8px;

  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
